
<footer id="footer">
  <div class="inner">
    <section>
      <h2>Suivez-moi !</h2>
      <ul class="icons">
        <!-- Uncomment or add any social icons you need -->
        <li>
          <a href="https://www.instagram.com/alexhypno6" class="icon brands style2 fa-instagram">
            <span class="label">Instagram</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/AlexAuragan/" class="icon brands style2 fa-github">
            <span class="label">GitHub</span>
          </a>
        </li>
        <!-- <li> -->
        <!--   <a href="tel:+33633028257" class="icon solid style2 fa-phone"> -->
        <!--     <span class="label">Phone</span> -->
        <!--   </a> -->
        <!-- </li> -->
        <li>
          <a href="mailto:alexauragan@gmail.com" class="icon solid style2 fa-envelope">
            <span class="label">Email</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/alexandre-h6/"
            class="icon brands style2 fa-linkedin">
            <span class="label">LinkedIn</span>
          </a>
        </li>
      </ul>
    </section>
    <ul class="copyright">
      <li>
        <a href="/about">À propos</a>
      </li>
    </ul>
  </div>
</footer>
